<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.newvo.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".NewVoApplication"
        android:allowBackup="true"
        android:icon="@drawable/newvo_icon"
        android:label="@string/app_name">
        <activity
            android:name="com.newvo.android.SignInActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.newvo.android.NewVo"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/app_id"/>
        </activity>
        <activity android:name="com.newvo.android.TextEntryActivity"
                  android:label="My Activity"
                  android:theme="@style/NoActionBar"
                  android:screenOrientation="unspecified"
                  android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
    </application>

</manifest>
