<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.newvo.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <permission
        android:name="com.newvo.android.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.newvo.android.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>

    <application
        android:name=".NewVoApplication"
        android:allowBackup="true"
        android:icon="@drawable/newvo_icon"
        android:label="@string/app_name"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>

        <activity
            android:name="com.newvo.android.SignInActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.newvo.android.friends.FriendPickerActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.newvo.android.NewVo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
            android:windowSoftInputMode="adjustUnspecified">
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login"
            android:theme="@style/NoActionBar">
        </activity>
        <activity
            android:name="com.newvo.android.TextEntryActivity"
            android:label="My Activity"
            android:screenOrientation="unspecified"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>

        <!--Parse Push Notifications -->
        <service android:name="com.parse.PushService"/>
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <service android:name="com.parse.PushService"/>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.newvo.android"/>
            </intent-filter>
        </receiver>
    </application>

    <receiver android:name="com.personagraph.sensor.service.StartupReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <category android:name="android.intent.category.HOME"/>
        </intent-filter>
    </receiver>

    <service android:name="com.personagraph.sensor.service.SensorService">
        <intent-filter>
            <action android:name="com.personagraph.SensorService"/>
        </intent-filter>
    </service>

</manifest>
